@model List<EspacioProducto.Producto>
@{
    ViewData["Title"] = "Productos";
}

<div class="text-center">
    <h1 class="display-4">Productos!!</h1>
    <table class="table">
        <thead>LISTA DE PRODUCTOS</thead>
        <tbody>
            <th>Descripción</th>
            <th>Precio</th>
            @foreach (EspacioProducto.Producto producto in Model)
            {
                <tr>
                    <td>@producto.Descripcion</td>
                    <td>@producto.Precio</td>
                    <td>
                        <a class="btn btn-warning" asp-controller="Producto" asp-action="Editar"
                            asp-route-idProducto="@producto.IdProducto">Editar</a>
                        <a class="btn btn-danger" asp-controller="Producto" asp-action="Eliminar"
                            asp-route-idProducto="@producto.IdProducto">Eliminar</a>
                    </td>
                </tr>

            }
            <tr>
                <td></td>
                <td></td>
                <td><a class="btn btn-primary" asp-controller="Producto" asp-action="Crear">Agregar</a></td>
            </tr>

        </tbody>


    </table>
</div>