@model EspacioPresupuesto.Presupuesto

@{
    ViewData["Title"] = "Eliminar Presupuesto";
}

<div class="text-center">
    <h1 class="display-4 m-4">Confirmación de eliminación de Presupuesto</h1>
    <div>
        <h3 class="m-4">¿Está seguro que quiere <strong>eliminar</strong> el siguiente presupuesto?</h3>
        <div class="p-4 m-5 border border-2 rounded-2 border-danger">
            <h5><strong>Cliente:</strong> @Model.NombreDestinatario</h5>
            <h5><strong>Monto sin IVA:</strong> $@Model.MontoPresupuesto()</h5>
            <h5><strong>Monto con IVA:</strong> $@Model.MontoPresupuestoConIva()</h5>
            <h5><strong>Fecha:</strong> @Model.FechaCreacion.ToShortDateString()</h5>


        </div>
        <div class="mb-5">
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdPresupuesto" />
                <input type="submit" value="Sí, deseo eliminarlo" class="btn btn-danger" />
                <a class="btn btn-dark" asp-controller="Presupuesto" asp-action="Index">Cancelar</a>
            </form>
        </div>
    </div>
</div>