@model List<EspacioPresupuesto.Presupuesto>

@{
    ViewData["Title"] = "Presupuestos";
}

<div class="text-center">
    <h1 class="display-4">Presupuestos!!</h1>
    <table class="table">
        <thead>
            LISTA DE PRESUPUESTOS
        </thead>
        <tbody>
            <th>
                Cliente
            </th>
            <th>Fecha</th>
            <th>Detalle</th>
            <th>Acciones</th>
            @foreach (EspacioPresupuesto.Presupuesto presupuesto in Model)
            {
                <tr>
                    <td>
                        @presupuesto.NombreDestinatario
                    </td>
                    <td>
                        @presupuesto.FechaCreacion.ToShortDateString()</td>
                    <td>
                        <a class="nav-link btn btn-outline-info" asp-controller="Presupuesto" asp-action="Detalle"
                            asp-route-idPresupuesto="@presupuesto.IdPresupuesto"> Ver
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-warning">Editar</a>
                        <a class="btn btn-danger" asp-controller="Presupuesto" asp-action="Eliminar" asp-route-idPresupuesto = "@presupuesto.IdPresupuesto">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>



</div>